@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
/* default codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}
.common-font {
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
.common-description {
  font-size: 15px;
  font-weight: 600;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.flexbox {
  display: flex;
}

/* header css */

.upper-nav-bg {
  background-color: #009196;
}
.upper-nav {
  justify-content: space-between;
  align-items: flex-start;
  height: 70px;
  padding-top: 3px;
  position: relative;
}
.nav-links {
  justify-content: space-around;
  gap: 1.5rem;
}
.nav-links i {
  color: white;
}
.lower-nav {
  height: 70px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 10px;
  color: #909090;
  position: absolute;
  bottom: 83%;
  left: 5%;
}
.lower-nav-links {
  font-weight: 500;
  justify-content: space-between;
  gap: 13px;
}
li:first-child {
  font-weight: 600;
  color: black;
}
.navbar-btn {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar-btn button {
  padding: 12px;
  color: #909090;
  background-color: transparent;
  border: 1.5px solid #909090;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.banner {
  height: 300px;
  height: 650px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)
    ),
    url("../assets/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.banner-content {
  width: 100%;
  padding-top: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner p {
  color: #009196;
}
.banner-title{
    font-size: 37px;
    font-weight: 750;
    line-height: 40px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.banner-btn{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #009196;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.banner-cards{
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: -4rem;
}
.card{
    width: 100%;
    background-color: #fff;
    border: none;
    border:1px dashed black;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
    padding-bottom: 1rem;
}
.card p{
    color: #3A3A3A;
    font-size: 17px;
    font-weight: 400;
}
.card-btn{
    justify-content: space-between;
    align-items: center;
}
.card-btn button{
    padding-top: 10px;
    border: none;
   background-color: transparent;
   text-align: left;
   font-size: 16px;
   font-weight: 550;
   color: #009196;
}
.card-btn i{
    color: #009196;
}
/* header css */

/* about-us css */

.about-us{
  margin-top: 5rem;
  gap: 7rem;
  position: relative;
}
.about-images{
  position: relative;
  width: 50%;
}
.relative-img img{
  width:100%;
}
.absolute-img1{
  background-color: #fff;
  width: 120px;
  box-shadow: 2px 2px 7px 0 #c5c3c3;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  top: 15%;
  left: 80%;
}
.absolute-img1 img{
  width: 45%;
}
.absolute-img2{
  width: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
}

.absolute-img2 img{
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.about-title{
  font-size: 28px;
  font-weight: 700;
  color: #009196;
}
.about-inner-container{
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.about-inner-content h3{
  color: #1B2729;
  font-size: 18px;
}
.about-inner-para{
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 500;
}
.about-inner-container img{
  width: 50px;
  height: 50px;
}
.about-btn{
  margin-top: 1rem;
  padding: 12px 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #009196;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.about-container{
  position: relative;
}
.earth img{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 5%;
}
.umbrella img{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -15%;
  right: 5%;
}

/* about-us css */

/* testimonial css */

.testimonial{
  background-image: url('../assets/Vector\ 72.png');
  width: 100%;
  height: 770px;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.testimonial-container{
  position: relative;
  margin-top: 5rem;
}
.flower-img img{
  position: absolute;
  left: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
}
.card-container{
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.testimonial-content{
  text-align: center;
  margin-bottom: 10px;
}
.testimonial-title{
  font-size: 35px;
  font-weight: 700;
  color: #009196;
}
.testimonial-description{
  color: #3A3A3A;
}
.testimonial-card{
  padding: 1.5rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border: 1.5px dashed #ADDFE0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.testimonial-caption{
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* testimonial css */